#jcl-demo .carousel {
    border-radius: 10px;
    float: left;
    padding-left: 10px;

    /* Needed for rendering without flicker */
    position: relative;
    visibility: hidden;
    left: -5000px;
	width:96% !important;

}

    /* Styling for image based carousel content. Only width and height are mandatory */
    #jcl-demo .carousel>ul>li>img {
        width: 320px;
		height: auto !important;
        vertical-align:middle;

        /* optional */
        margin: 10px 20px 20px 0;
        border-radius: 3px;
    }


/* Styles for PREV and NEXT anchor buttons */
#jcl-demo a.prev, #jcl-demo a.next, #jcl-demo a.go {
    display: block;
    width: 20px;
    height: 20px;
    line-height: 1;
    color: ghostwhite;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 50px;
    border-radius: 8px;
    float: left;
}
    #jcl-demo a.prev.disabled, #jcl-demo a.next.disabled,
    #jcl-demo a.prev.disabled:hover, #jcl-demo a.next.disabled:hover {
        background-color: #8d8d8d;
        cursor: default;
    }
    #jcl-demo a.go.highlight {
        background-color: #dedede;
        color: #000;
    }
    #jcl-demo a.prev {
        margin: 120px -5px 0 0;
        text-indent: 7px;
    }
    #jcl-demo a.next {
        margin: 120px 0 0 -5px;
        text-indent: 10px;
    }
       

/* Additional carousel styles for external controls, slider, widget, mid etc. */

#jcl-demo .externalControl button,
#jcl-demo .imageSliderExt button {
    margin: 5px 5px 0 0;
}
#jcl-demo .externalControl a.next, #jcl-demo .externalControl a.prev, #jcl-demo .externalControl a.go,
#jcl-demo .imageSliderExt a.next, #jcl-demo .imageSliderExt a.prev, #jcl-demo .imageSliderExt a.go
{
    margin: 0 5px 0 0;
    padding: 7px 5px 0 5px;
    font-size: 20px;
    text-align: center;
    border-radius: 3px;
}

#jcl-demo .widget img {
    cursor: pointer;
}
#jcl-demo .mid {
    margin-left: 50px;
    width: 400px;
    height: 300px;
}
#jcl-demo .vertical {
    margin-left: 170px;
}

#jcl-demo .imageSlider .carousel>ul>li>img,
#jcl-demo .imageSliderExt .carousel>ul>li>img {
    width: 500px;
    height: auto;
}
#jcl-demo .imageSlider .carousel>ul>li>p,
#jcl-demo .imageSliderExt .carousel>ul>li>p {
    width: 380px;
    height: 280px;
}

/* Other common styles */

.clear {
    clear: both;
}


@media screen and (max-width: 992px) {
    #jcl-demo .carousel>ul>li>img {
        width: 250px;
		height: auto !important;
        vertical-align:middle;

        /* optional */
        
    }

    /* Styles for PREV and NEXT anchor buttons */
#jcl-demo a.prev, #jcl-demo a.next, #jcl-demo a.go {
    display: block;
    width: 15px;
    height: 15px;
    color: ghostwhite;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 20px;
    border-radius: 8px;
    float: left;
}
    #jcl-demo a.prev.disabled, #jcl-demo a.next.disabled,
    #jcl-demo a.prev.disabled:hover, #jcl-demo a.next.disabled:hover {
        background-color: #8d8d8d;
        cursor: default;
    }
    #jcl-demo a.go.highlight {
        background-color: #dedede;
        color: #000;
    }
    #jcl-demo a.prev {
        margin:0;
        text-indent: 0px;
    }
    #jcl-demo a.next {
        margin: 0;
        text-indent: 0px;
    }

    #jcl-demo .carousel {
        border-radius: 0px;
        float: center;
        padding-left: 0px;
        
    }
    
       
  }
